<!DOCTYPE html>
<html>
   <head>
      <title>Playground</title>
     <meta content="utf-8" http-equiv="encoding">
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <script language="JavaScript" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
      <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
       <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <link href="/public/style.css" rel="stylesheet" type="text/css">
      <script language="JavaScript" type="text/javascript" src="./../public/js/client-hangman.js"></script>
   </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
          <h1>Hangman Playground</h1>
            <button type="button" class="btn btn-lg btn-primary active custom-button" id="new">New</button>
            <a href="https://ukapoor-hangman.glitch.me" role="button" class="btn btn-danger btn-lg active">Quit</a>
          <h1 id="game-status"></h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <div class="btn-group-vertical" role="group">
            <button type="button" class="btn btn-lg btn-info active custom-button" id="hint">Hint</button>
        </div>
          <h3>Clue: <span id="clue"></span></h3>
          <p style="margin-top:5px;">Name: <span id="player-name"></span></p>
          <p style="margin-top:5px;">Games Won: <span id="games-won"></span></p>
          <p style="margin-top:5px;">Games Lost: <span id="games-lost"></span></p>
      </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <canvas id="hangman-playground" width="600" height="400">
          </canvas>
        </div>
    </div>
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 keyboard_hover">
          <ul id="keyboard"></ul>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center">
          <h3 id="question"></h3><br>
          <h4 id="answer"><ul id="answer-ul" class="text-center"></ul></h4><br>
          <h2>You have <span id="lives">10</span> Lives left!</h2>
        </div>
      </div>
      <div class="modal fade" id="NameModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="NameModalLabel" style="color:black;">Please Enter Your Name to Start Your Name:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <input type="text" class="form-control" id="name" placeholder="Name">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="save-button" data-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>
    </div>
  </body>
</html>