<!DOCTYPE html>
<html>
   <head>
      <title>Highscores</title>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>
   <body>
      <div class="container-fluid">
        <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 form-group">
          <label><strong>Total Win Percentage:</strong></label>
          <div autocomplete="off" id="grid" class="text-center"></div>
          </div>
        </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 form-group">
          <label ><strong>Highscore-Table</strong></label>
          <div autocomplete="off" id="highscore" class="text-center"></div>
          </div>
        </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 form-group">
        <h3><a href="https://ukapoor-hangman.glitch.me"> &lt;--Go Back</a></h3>
      </div>
        </div>
     </div>
   </body>
</html>