<! DOCTYPE html>
<html>

   <head>
      <title>Hangman Game</title>
      <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
      <script language="JavaScript" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
  </head>

   <body>
     <div class="container-fluid">
       <div class="row">
         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
           <h1>THE HANGMAN GAME</h1>
           <h3>Are you Ready to Play ?</h3>
         </div>
       </div>
       <div class="row">
         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
         <button type="button" class="btn btn-success btn-lg custom">Play</button>
         </div>
       </div>
      <div class="row">
         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
         <a href="https://ukapoor-hangman.glitch.me/highscore" role="button" class="btn btn-warning btn-lg custom">High score</a>
         </div>
       </div>
      <div class="row">
         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
         <a href="https://ukapoor-hangman.glitch.me/rules" role="button" class="btn btn-info btn-lg custom">How to Play</a>
         </div>
       </div>
     </div>
      
      <footer class="footer">
       <p>Created by : <a href="https://github.com/utsavkapoor" target="_blank">Utsav Kapoor</a></p>
       <p>Source Code: <a href="https://github.com/utsavkapoor/hangman" target="_blank">Hangman</a></p>
     </footer>
   </body>
</html>