<!DOCTYPE html>
<html>
   <head>
      <title>Rules</title>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>
   <body>
      <div class="container-fluid">
        <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
         <h1>How to Play</h1>
          <h3>Rules:</h3>
          <ol>
            <li>When the game is started a CS Question is presented, the player is represented with an empty field for each letter for the answer.</li>
            <li>When the player guesses a letter correctly, each field that represents that letter is filled with the letter</li>
            <li>When the player guesses a letter incorrectly, a piece of a gallow with a hanging man is drawn.</li>
            <li>After 10 incorrect guesses, the game is over and the player lost. Thus, there should be 10 different states of the gallow to be drawn.</li>
            <li>If all fields are filled with their letter before 10 incorrect guesses, the player has won the game.</li>
          </ol>
          <h3>For More Information :<a href="https://en.wikipedia.org/wiki/Hangman_(game)" target="_blank">Rules</a></h3>
          <h3><a href="https://ukapoor-hangman.glitch.me"> &lt;--Go Back</a></h3>
          </div>
          </div>
     </div>
   </body>
</html>