body {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
  color:white;
  background-image:url("https://gameind.files.wordpress.com/2012/01/limbo3.jpg");
  background-repeat: no-repeat;
  background-size:cover;
	text-align: left;
  padding-left:40px;
}

.container-fluid {
	padding: 0;
	margin-top: 40px;
}
.row{
  padding-top:50px;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
}

.custom {
  border-radius: 12px !important;
  width: 50% !important;
}
#highscore{
  color:white;
  background-color:#FFA500 !important;
}

.table-bordered td, .table-bordered th{
    border-color: white !important;
}

.table-nonfluid {
   width: auto !important;
  margin: 0 auto;
}

.custom-button{
  top-margin:10px !important;
}

h3{
  padding:10px;
}

.li_answer{
  float:left;
  list-style:none;
  margin: 0 5px 5px 0;
  background-color:white;
  width:40px;
  height:30px;
  padding-top:5px;
  color:black;
  cursor:pointer;
  border:solid 1px white;
}

ul{
  margin:20px auto;
  padding:0;
  list-style:none;
  margin: 0 5px 5px 0;
}

.li_keyboard{
  float:left;
  margin: 0 5px 5px 0;
}

.keyboard_hover{

}